!.env.example
*.code-workspace
*.log
*.tgz
.cache
.DS_Store
.env
.env.*
.idea
.temp
.vite_opt_cache
.vitepress/cache
/coverage
client/shared.ts
node/shared.ts
cache
dist
examples-temp
node_modules
pnpm-global
.temp
assets/style/sandbox.styl
temp
todo.md
