electron-dist/
dist/
build/
node_modules/

!android/app/src/main/res/
android/app/src/main/res/*
!android/app/src/main/res/drawable/
android/app/src/main/res/drawable/*
!android/app/src/main/res/drawable/ic_pip_icon.xml

.DS_Store
ios/

*.jks
*.pepk
*.bat
pepk.jar
encryption_public_key.pem

package-lock.json